

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}





.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  
}


.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.bg-image {
  height: 350px;
  max-width: 100%;

  background-size:contain;
  background-repeat:no-repeat;
  
}

.circle-fb,
.circle-mess {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: large;
  background-color: #0a66c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-linked {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size:large;
  background-color: #0a66c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-linked:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: large;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
.circle-fb:hover ,
.circle-messe:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size:large;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

